local.properties
.cxx/
.gradle/
.idea/
Samples/XrSamples/XrBodyFaceEyeSocial/Projects/Android/build/
Samples/XrSamples/XrColocationDiscovery/Projects/Android/build/
Samples/XrSamples/XrColorSpaceFB/Projects/Android/build/
Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/build/
Samples/XrSamples/XrControllers/Projects/Android/build/
Samples/XrSamples/XrDynamicObjects/Projects/Android/build/
Samples/XrSamples/XrHandDataSource/Projects/Android/build/
Samples/XrSamples/XrHandTrackingWideMotionMode/Projects/Android/build/
Samples/XrSamples/XrHandsAndControllers/Projects/Android/build/
Samples/XrSamples/XrHandsFB/Projects/Android/build/
Samples/XrSamples/XrInput/Projects/Android/build/
Samples/XrSamples/XrKeyboard/Projects/Android/build/
Samples/XrSamples/XrMicrogestures/Projects/Android/build/
Samples/XrSamples/XrPassthrough/Projects/Android/build/
Samples/XrSamples/XrPassthroughOcclusion/Projects/Android/build/
Samples/XrSamples/XrSceneModel/Projects/Android/build/
Samples/XrSamples/XrSpaceWarp/Projects/Android/build/
Samples/XrSamples/XrSpatialAnchor/Projects/Android/build/
Samples/XrSamples/XrVirtualKeyboard/Projects/Android/build/